@use "src/assets/styles/colors";

article {
  border-radius: 1.5rem;
  background-color: white;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 35rem;
  background-color: colors.$primary--transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-container {
  position: relative;
  height: 40%;
}

img {
  object-fit: contain;
  mix-blend-mode: multiply;
  border-radius: 1.5rem;
  padding: 0.5rem;
}

.body {
  position: relative;
  left: 0;
  right: 0;
  height: 60%;
  z-index: 2;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: white;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    display: block;
    background-color: white;
  }
  word-break: break-all;
}

.title {
  font-weight: 600;
  font-size: large;
}

.author {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-color: colors.$primary;
}
