<article *ngIf="article" class="container" (click)="openDetail()">
  <section class="img-container">
    <img
      alt="background article image"
      [ngSrc]="article.urlToImage ?? DEFAULT_IMAGE"
      fill
      priority
    />
  </section>
  <section class="body">
    <div>
      <h4 class="author">
        {{ article.author ?? "Anonymous" }}
      </h4>
      <h3 class="title">{{ article.title }}</h3>
    </div>
    <p class="description">
      {{ article.description ?? "..." }}
    </p>
  </section>
</article>
