@use "src/assets/styles/colors";

.pill {
  border-radius: 2rem;
  padding: 4px 8px;
  color: colors.$primary--contrast;
  width: fit-content;
}

.primary {
  background-color: colors.$primary;
}

.secondary {
  background-color: colors.$secondary;
}
