<div class="detail-container">
  <ng-container *ngIf="$selectedArticle(); else errorMessage">
    <article>
      <section class="img-container">
        <img
          alt="background article image"
          [ngSrc]="$selectedArticle()!.urlToImage ?? DEFAULT_IMAGE"
          fill
          priority
        />
      </section>
      <section class="body">
        <app-pill [text]="$selectedArticle()!.source.name"></app-pill>
        <div>
          <h4 class="author">
            {{ $selectedArticle()!.author ?? "Anonymous" }}
          </h4>
        </div>
        <p class="description">
          {{ $selectedArticle()!.description ?? "..." }}
        </p>
      </section>
    </article>
  </ng-container>
  <ng-template #errorMessage> Missing article, please go back </ng-template>
</div>
