<ng-container
  *ngIf="{ articles: articles$ | async, error: articlesError$ | async } as data"
>
  <div *ngIf="data.articles; else loading" class="news-grid">
    <app-article-thumbnail
      *ngFor="let article of data.articles"
      [article]="article"
    />
  </div>
  <ng-template #loading>
    <div class="news-grid" *ngIf="!data.error">
      <app-loader-shimmer-card class="loader"></app-loader-shimmer-card>
      <app-loader-shimmer-card class="loader"></app-loader-shimmer-card>
      <app-loader-shimmer-card class="loader"></app-loader-shimmer-card>
      <app-loader-shimmer-card class="loader"></app-loader-shimmer-card>
      <app-loader-shimmer-card class="loader"></app-loader-shimmer-card>
      <app-loader-shimmer-card class="loader"></app-loader-shimmer-card>
    </div>
    <app-warning-card
      *ngIf="data.error"
      [message]="data.error"
    ></app-warning-card>
  </ng-template>
</ng-container>
