@use "assets/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap");
@import "assets/styles/reset.scss";
@import "assets/styles/input.scss";

html {
  font-family: "Hedvig Letters Sans", sans-serif;
  color: colors.$grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darken($color: colors.$grey, $amount: 20%);
}
