@use "src/assets/styles/colors";

input {
  border: 1px solid colors.$primary;
  border-radius: 4px;
  padding: 0.35rem 0.75rem;
  &.primary {
    &:focus {
      border-color: colors.$primary;
      box-shadow: 0 0 0.1rem 0.1rem colors.$primary;
    }
  }
  &.secondary {
    &:focus {
      border-color: colors.$secondary;
    }
  }
}
